# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Local SQLite db
*.db
*.sqlite
*.sqlite3

# Android/iOS specific
android/app/build/
android/.gradle/
android/local.properties
ios/Pods/
ios/build/
